{% extends "layout.html" %} {% block body %}
<!--Send this info to database-->
<div class="contact-content font1 max-width-1 m-auto">
  <div class="max-width-1 m-auto contact-hero">
    <h2>Feel Free To Contact Us</h2>

<form action="/contact" method="post">

    <div class="contact-form">
      <div class="form-box">
        <input type="text" placeholder="Enter your name" name="name"/>
      </div>
      <div class="form-box">
        <input type="text" placeholder="Enter your Phone" name="phone"/>
      </div>
      <div class="form-box">
        <input type="text" placeholder="Enter your email" name="email"/>
      </div>
      <div class="form-box">
        <textarea
          cols="30"
          rows="10"
          placeholder="How can we help you" name="message"
        ></textarea>
      </div>
      <button class="btn" type="submit">Submit</button>
    </div>
  </form>
  </div>
</div>

{% endblock body %}
