{% extends "layout.html" %} {% block body %}

<div class="t-center">
  <h2 class="heading-large">Search Result for {{query}}</h2>
</div>
<div class="home-articles max-width-1 m-auto font2" style="height: 100vh;">
  <!--Fetch Posts from database using for loop-->
  {% for post in posts %}
  <div class="home-article">
    <div class="home-article-image">
      {% set file = 'img/' + post.image%}
      <img src="{{ url_for('static', filename=file) }}" alt="article" />
    </div>
    <div class="home-article-content">
      <a href="/blogpost/{{post.slug}}"> <h3>{{post.title}}</h3></a>
      <div>{{post.author}}</div>
      <span>{{post.date}} | {{post.readtime}} min read</span>
    </div>
  </div>
  {% endfor %}


</div>
{% endblock body %}
